* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

h1 {
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
}

h2, h3, p {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}

a {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}

footer {
  background-color: rgb(20, 20, 20);
}
footer div {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  color: white;
}
footer div h2 {
  font-size: 0.8rem;
  margin: auto;
  margin-left: 10px;
}
footer div img {
  width: 35px;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

header {
  width: 100;
}
header img {
  width: 50px;
  padding: 2px;
}
header div h1 span {
  font-size: 1.1rem;
  padding: 20px;
}
header div li {
  font-size: 1rem;
}
header div span {
  color: rgb(0, 0, 0);
}
@media (min-width: 992px) {
  header div .hcss {
    display: flexbox;
    justify-content: end;
  }
}
header div li:hover {
  color: red;
  padding: 2px 5px;
}
header div li:hover span {
  font-weight: 500;
  text-decoration: underline;
  transition-duration: 1s;
}

body {
  width: 100%;
  background-color: black;
  width: 100%;
}

.ini {
  background-image: url(../img/10.jpg);
  background-size: cover;
  background-position: center;
  width: 95%;
  height: 300px;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 10px auto;
  border-radius: 10px;
}
@media (min-width: 992px) {
  .ini {
    height: 520px;
  }
}
.ini div {
  width: 100%;
}
.ini div .bot {
  text-align: center;
}
.ini div h2, .ini div a {
  margin: auto 10px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  font-size: 1.5rem;
}
@media (min-width: 992px) {
  .ini div h2, .ini div a {
    font-size: 4rem;
  }
}
.ini div a {
  font-size: 1.5rem;
  align-content: center;
  text-decoration: none;
  border-radius: 60px;
  line-height: 2;
  align-items: center;
}
@media (min-width: 992px) {
  .ini div a {
    font-size: 2.5rem;
  }
}
.ini div a:hover {
  transition-duration: 2s;
  color: black;
  font-size: 1.5rem;
  padding: 5px 10px;
  margin-bottom: 100px;
  text-decoration: underline;
}
@media (min-width: 992px) {
  .ini div a:hover {
    font-size: 2.8rem;
    padding: 5px 30px;
  }
}

.des {
  color: white;
  width: 100%;
  text-align: center;
}
.des h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.red {
  width: 90%;
  align-items: center;
  padding: 10px 10px;
}
@media (min-width: 992px) {
  .red {
    display: flex;
    width: 90%;
  }
}

.med {
  background-color: rgb(14, 14, 14);
  width: 100%;
  color: white;
  border-radius: 10px;
  margin: auto 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.med h3 {
  font-size: 1rem;
  margin-left: 10px;
}
.med p, .med a {
  font-size: 1rem;
  padding: 10px;
  text-decoration: none;
  color: white;
  margin-bottom: 25px;
}
.med a {
  text-align: center;
}
.med img {
  width: 35%;
  color: bisque;
  padding: 10px;
}
.med .url {
  text-align: center;
  width: 100px;
  margin: auto;
}
.med .url:hover {
  text-align: center;
  text-decoration: underline;
}

.med:hover {
  background-color: rgb(40, 40, 40);
}

form {
  background-color: rgb(3, 3, 3);
  border: 2px solid white;
  width: 80%;
  height: 345px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 15px;
}

form:hover {
  background-color: rgb(10, 10, 10);
}

input, textarea {
  background-color: rgb(177, 177, 177);
  font-size: 1rem;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

input:hover, textarea:hover {
  background-color: rgb(211, 211, 211);
  color: black;
}

/*# sourceMappingURL=styles.css.map */
