@mixin nav{
    @media (min-width: $media-uno){
        @content        
    } 
}

header{
    
    width: 100%;
    div{
        width: 100%;
        
    }

        img{
        width: 50px;
        padding: 2px;
        }
        div{
            h1{
                span{
                    font-size: 1.2rem;
                    padding: 20px;
                }
            }
            li{
                font-size: 1.2rem;  
            }
            li:hover{
            text-decoration: underline;
        }
            span{
                color: rgb(0, 0, 0);
                

            }
 
            .hcss{
                @include nav{
                display: flexbox;
                justify-content: end;

                }
            }
        }

}