// Colores
$fondo3:linear-gradient(240deg, #1a2f2e 0, #162523 16.67%, #101816 33.33%, #000000 50%, #000000 66.67%, #000000 83.33%, #000000 100%);

$fondo2:rgb(0, 0, 0);
$coloruno:black;
$colordos:rgb(44, 36, 36);
$colordos2:rgba(121, 57, 57, 0.1);
$colortres: rgb(10, 10, 10);
$colorcuatro: rgb(15, 15, 15);
$colorcinco:rgb(136, 136, 136);
$colorseis:rgb(192, 192, 192);
$colorsiete:rgb(34, 0, 34);
$colordies:rgb(24, 0, 15);
// Medidas de @Media
$media-uno:992px;
$media-dos:950px;