// Colores
$coloruno:black;
$colordos:rgb(44, 36, 36);
$colordos2:rgba(121, 57, 57, 0.1);
$colortres: rgb(10, 10, 10);
$colorcuatro: rgb(15, 15, 15);
$colorcinco:rgb(136, 136, 136);
$colorseis:rgb(192, 192, 192);
$colorsiete:rgb(34, 0, 34);
$colordies:rgb(24, 0, 15);
// Medidas de @Media
$media-uno:1000px;
$media-dos:992px;