//tipografia
h1{
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}
h2,h3,p{
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}
a{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
h4{
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}
