@mixin navegador{
    @media (min-width: $media-dos){
        @content        
    } 
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}

@keyframes shadow-drop-center{0%{box-shadow:0 0 0 0 transparent}100%{box-shadow:0 0 15px 0 rgba(255,255,255,.55)}}





body{
    animation: fadeIn 2s;
    width: 100%;
    background-image: radial-gradient(circle at 56.16% -20.44%, #131d1c 0, #0c1311 25%, #000000 50%, #000000 75%, #000000 100%);;

        
}

.ini{
    background-image: url(../../img/10.jpg);
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 300px;
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 10px auto;
    border-radius: 10px;
    animation: 8s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
    @include navegador{
        height: 520px;
    }
    div{
        width: 100%; 
        .bot{
            text-align: center;
        }
        h2,a{
            text-align: center;
            margin: auto 10px;
            color: black;
            font-family: 'Times New Roman', Times, serif;
            padding: 20px;
            font-size: 1.2rem;

            @include navegador{
                font-size: 4rem;
            }

        }
        a{
            font-size: 1.5rem;
            align-content: center;
            text-decoration: none;
            border-radius: 60px;
            line-height: 2;
            align-items: center;
            @include navegador{
                font-size: 2.5rem;
            }
            
        }
     
    } 
}
.des{
    color: white;
    width: 100%;
    text-align: center;
    h2{
        font-size: 1.2rem;
        margin-bottom: 10px;
        @include navegador{
            font-size: 2rem;
        }
    }

}
a{
    text-decoration: none;
}
.red{
    width: 90%;
    align-items: center;
    padding: 30px 10px;
    margin: auto;
    
    @include navegador{
        margin: auto;
        display: flex;
        width: 95%;
        border-radius: 20px;
        margin-top: 50px;
    }   
}
.med{ 
    background-color: rgb(5, 5, 5);
    width: 100%;
    color: white;
    border-radius: 10px;
    margin: auto;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    @include navegador{
        width: 90%;
        height: 350px;
        border-radius: 20px;
    } 
    
    h3{
        font-size: 1rem;
        margin-left: 10px;
    }
    p ,a {
        font-size: 1rem;
        padding: 10px;
        text-decoration: none;
        color: white;
        margin-bottom: 25px;
    }
    a{
        text-align: center;
    }
    img{
        width: 35%;
        color: bisque;
        padding: 10px;
    }
    .url{
        text-align: center;
        width: 100px;
        margin: auto;
    }
    .url:hover{
        text-align: center;
        text-decoration:underline;
    }
}
.med:hover{
    background-color: rgb(10, 10, 10);
    animation: fadeIn .5s ease-in;
    animation:shadow-drop-center 0.1s linear both;
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(100, 255, 218, 0.3); 
    transition: transform .8s;

        
    

}




.des{
    @include navegador{
                    margin-top: 70px;
            }
}
.des1{
    border-radius: 50px;
    width: 95%;
    border-radius: 2%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin: auto;
    @include navegador{
                    margin-top: 40px;
            }
}






.formulario{
    background-color: rgb(2, 2, 2);
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 30px;
    div{
        width: 100%;
        font-family: 'Times New Roman', Times, serif;
        text-align: left;
        padding: 10px;
    }

            .info{
                width: 40%;
                margin: auto 20px;
            div{
                display: flex;
                flex-direction: row;
                align-items: stretch;
                p{
                  padding: 0px 10px;  
                }
            }
        }

    svg{
        width: 25px;
        height: 25px;
    }
    @include navegador{
        display: grid;
        grid-row: 40%, 60%;

        grid-template-areas: 
        "info form"
        ;
    
    }

    

}

form{
    width: 80%;
    margin: auto;
    display:flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;

     @include navegador{
        width: 100%;
        align-content: center;
        margin: auto;
        height: 100%;
    }   
}


input, textarea{
    background-color:rgb(177, 177, 177);
    font-size: 1rem;
    border-radius: 10px;
    padding: 5px;
    margin:  10px;    
}
textarea{
    height: 100%;
    @include navegador{
        width: 95%;
        height: 95%;
        margin: auto;
    }  
}
input:hover, textarea:hover{
    background-color:rgb(211, 211, 211);
    color: $coloruno;
   
}