@mixin navegador{
    @media (min-width: $media-dos){
        @content        
    } 
}
body{
    width: 100%;
    background-color: black;
        width: 100%;
}

.ini{
    background-image: url(../../img/10.jpg);
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 300px;
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 10px auto;
    border-radius: 10px;
    @include navegador{
        height: 520px;
    }
    div{
        width: 100%; 
        .bot{
            text-align: center;
        }
        h2,a{
            
            margin: auto 10px;
            color: black;
            font-family: 'Times New Roman', Times, serif;
            padding: 20px;
            font-size: 1.5rem;

            @include navegador{
                font-size: 4rem;
            }

        }
        a{
            font-size: 1.5rem;
            align-content: center;
            text-decoration: none;
            border-radius: 60px;
            line-height: 2;
            align-items: center;
            @include navegador{
                font-size: 2.5rem;
            }
            
        }
        a:hover{
            transition-duration: 2s;
            color: black;
            font-size: 1.5rem;
            padding: 5px 10px;
            margin-bottom: 100px;
            text-decoration: underline;
            @include navegador{
                font-size: 2.8rem;
                padding: 5px 30px;
            }
        }
     
    } 
}
.des{
    color: white;
    width: 100%;
    text-align: center;
    h2{
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
}
.red{
    width: 90%;
    align-items: center;
    padding: 10px 10px;
    @include navegador{
        display: flex;
        width: 90%;
    }   
}
.med{ 
    background-color: rgb(14, 14, 14);
    width: 100%;
    color: white;
    border-radius: 10px;
    margin: auto 20px ;
    margin-bottom: 20px;
    padding: 20px;
    
    
    h3{
        font-size: 1rem;
        margin-left: 10px;
    }
    p ,a {
        font-size: 1rem;
        padding: 10px;
        text-decoration: none;
        color: white;
        margin-bottom: 25px;
    }
    a{
        text-align: center;
    }
    img{
        width: 35%;
        color: bisque;
        padding: 10px;
    }
    .url{
        text-align: center;
        width: 100px;
        margin: auto;
    }
    .url:hover{
        text-align: center;
        text-decoration:underline;
    }
}
.med:hover{
    background-color: rgb(40, 40, 40);

}
form{
    background-color: rgb(3, 3, 3);
    border: 2px solid white;
    width: 80%;
    height: 345px;
    margin: auto;
    display:flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px; 
    margin-bottom: 15px;
}
form:hover{
    background-color: rgb(10, 10, 10);

}

input, textarea{
    background-color:rgb(177, 177, 177);
    font-size: 1rem;
    border-radius: 10px;
    padding: 5px;
    margin:  10px;    
}
input:hover, textarea:hover{
    background-color:rgb(211, 211, 211);
    color: $coloruno;
   
}